@if(openInformation) {
  <div (click)="close()" class="fixed inset-0 flex w-screen justify-center overflow-y-auto bg-zinc-950/25 px-2 py-2 transition duration-100 focus:outline-0 sm:px-6 sm:py-8 lg:px-8 lg:py-16 dark:bg-zinc-950/50">
    <div class="fixed inset-0 w-screen overflow-y-auto pt-6 sm:pt-0">
      <div class="grid min-h-full grid-rows-[1fr_auto] justify-items-center sm:grid-rows-[1fr_auto_3fr] sm:p-4">
        <div 
          (click)="$event.stopPropagation()" 
          style="overflow-y: auto; max-height: 80vh; scrollbar-color: #1a1a1a #1a1a1a; scrollbar-width: thin;" 
          class="sm:max-w-lg row-start-2 w-full min-w-0 rounded-t-3xl bg-white p-6 ring-1 shadow-lg ring-zinc-950/10 sm:mb-auto sm:rounded-2xl dark:bg-zinc-900 dark:ring-white/10 transition duration-100 overflow-y-auto max-h-screen">
          <div class="px-4 sm:px-0">
            <h3 class="text-lg/6 font-semibold text-balance text-zinc-950 sm:text-base/6 dark:text-white">SFCS</h3>
            <p class="mt-2 text-pretty text-base/6 text-zinc-500 sm:text-sm/6 dark:text-zinc-400">Detalhes da aplicação.</p>
          </div>
          <div class="mt-6 border-t border-gray-100">
            <dl class="divide-y divide-gray-100">
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-base/6 text-zinc-950 dark:text-white font-medium">Nome completo:</dt>
                <dd class="mt-1 text-base/6 text-zinc-500 sm:col-span-2 sm:mt-0 dark:text-zinc-400">Margot Foster</dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-base/6 text-zinc-950 dark:text-white font-medium">Aplicação para:</dt>
                <dd class="mt-1 text-base/6 text-zinc-500 sm:col-span-2 sm:mt-0 dark:text-zinc-400">Backend Developer</dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-base/6 text-zinc-950 dark:text-white font-medium">Versão</dt>
                <dd class="mt-1 text-base/6 text-zinc-500 sm:col-span-2 sm:mt-0 dark:text-zinc-400">margotfosterexample.com</dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-base/6 text-zinc-950 dark:text-white font-medium">Linguagem usada:</dt>
                <dd class="mt-1 text-base/6 text-zinc-500 sm:col-span-2 sm:mt-0 dark:text-zinc-400">$120,000</dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-base/6 text-zinc-950 dark:text-white font-medium">Sobre:</dt>
                <dd class="mt-1 text-base/6 text-zinc-500 sm:col-span-2 sm:mt-0 dark:text-zinc-400">Fugiat ipsum ipsum deserunt culpa aute sint do nostrud anim incididunt cillum culpa consequat. Excepteur qui ipsum aliquip consequat sint. Sit id mollit nulla mollit nostrud in ea officia proident. Irure nostrud pariatur mollit ad adipisicing reprehenderit deserunt qui eu.</dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-base/6 text-zinc-950 dark:text-white font-medium">Attachments</dt>
                <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                  <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
                    <li class="flex items-center justify-between py-4 pr-5 pl-4 text-sm/6">
                      <div class="flex w-0 flex-1 items-center">
                        <svg class="size-5 shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                          <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 0 0-4.242 0l-7 7a3 3 0 0 0 4.241 4.243h.001l.497-.5a.75.75 0 0 1 1.064 1.057l-.498.501-.002.002a4.5 4.5 0 0 1-6.364-6.364l7-7a4.5 4.5 0 0 1 6.368 6.36l-3.455 3.553A2.625 2.625 0 1 1 9.52 9.52l3.45-3.451a.75.75 0 1 1 1.061 1.06l-3.45 3.451a1.125 1.125 0 0 0 1.587 1.595l3.454-3.553a3 3 0 0 0 0-4.242Z" clip-rule="evenodd" />
                        </svg>
                        <div class="ml-4 flex min-w-0 flex-1 gap-2">
                          <span class="truncate font-medium">resume_back_end_developer.pdf</span>
                          <span class="shrink-0 text-gray-400">2.4mb</span>
                        </div>
                      </div>
                      <div class="ml-4 shrink-0">
                        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Download</a>
                      </div>
                    </li>
                    <li class="flex items-center justify-between py-4 pr-5 pl-4 text-sm/6">
                      <div class="flex w-0 flex-1 items-center">
                        <svg class="size-5 shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                          <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 0 0-4.242 0l-7 7a3 3 0 0 0 4.241 4.243h.001l.497-.5a.75.75 0 0 1 1.064 1.057l-.498.501-.002.002a4.5 4.5 0 0 1-6.364-6.364l7-7a4.5 4.5 0 0 1 6.368 6.36l-3.455 3.553A2.625 2.625 0 1 1 9.52 9.52l3.45-3.451a.75.75 0 1 1 1.061 1.06l-3.45 3.451a1.125 1.125 0 0 0 1.587 1.595l3.454-3.553a3 3 0 0 0 0-4.242Z" clip-rule="evenodd" />
                        </svg>
                        <div class="ml-4 flex min-w-0 flex-1 gap-2">
                          <span class="truncate font-medium">coverletter_back_end_developer.pdf</span>
                          <span class="shrink-0 text-gray-400">4.5mb</span>
                        </div>
                      </div>
                      <div class="ml-4 shrink-0">
                        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Download</a>
                      </div>
                    </li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
}
